* {
    box-sizing: border-box;
}


// body {
//     margin: 2rem;
//     background-color: bisque;
// }

// header h1 {
//     color: brown;
// }
// header p {
//     font-size: 1.5rem;
// }

body {
    margin: 2rem;
    background-color: bisque;
}
/*aqui va el header* es un comentario css y aparecera en css y es multilínea*/

//Este comentario no es muy util 
//no aparece en css ya que es comentario scss y es en línea

@import "_header.scss";

footer {
    address {

        //este p solo afecta al p de address
        p {margin-top: 0;
        margin-bottom: 0;}
    }
    //este p solo afecta al de footer
    >p {color: brown}
}