header {
    border: 1px solid;
}
h1 {
    font-size: 2rem;
    color: brown;
    opacity: 0;
    /* transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(.83,.76,.42,1.45); */
    transition: all 3s linear;
    &:hover {
        font-size: 3rem;
        color: crimson;
        opacity: 1;
    } 
}