* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

div {
    width: 50%;
    height: 40%;
    background-color: salmon;
    padding: 2rem;
    position: absolute;
    top: 25%;
    left: 30%;
}