* {
    box-sizing: border-box;
}

header h1 {
    height: 20rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    background-image: url("./assets/disneylogo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* header span {
    display: none;
} hace que el h1 no aparezca pero puda ser leido por la máquina, no se puede usar el atributo hidden en el span en el html en vez de usar display: none, porque le quitaría valor semántico. También se puede usa el opacity 0*/

.oculto {
    /* display: none; */
    opacity: 0;
}