/* Reset, lo preparamos para dejarlo listo para aplicar el CSS que queremos, hasta body background*/ 
* {
    box-sizing: border-box;
}

body, h1, h2, h3, figure, ol, li {
   margin: 0;
   padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    
}
section {
    min-height: 60vh;
}
body {
    background-color: bisque;
}
/*al ser movil primero trabajo en entorno movil, MediaQuery 0 Mobil, tengo que aplicar un mínimo de margen en movil*/ 

.main_wrapper {
    width: 90%; /*primero le doy width con porcentaje y despues los margin*/
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%; /*las imagenes se ajustan a la pantalla con el contenedor figure*/
}

@media screen and (min-width: 650px) {
    .main_wrapper {
        width: 80%;
    }
}

@media screen and (min-width: 990px) {
    .main_wrapper {
        width: 60%;
        max-width: 800px;
        }
}

